
.slick-list {
height: 50vh;

}



@media (max-width: 480px) {
    .product-card {
      width: calc((50% - 10px) - 5px); /* Adjust based on your spacing */
      margin-right: 30px; /* Spacing between cards */
      float: left; /* Ensure cards float left */
      clear: both; /* Clear float after two cards */
    }
  }
    
  .product-card {
    background-color: white;
    border-radius: 8px;
    padding: 8px;
    margin: 0 4px;
    flex-shrink: 0;
    border: 1px solid #ccc;
    transition: transform 0.3s;
    width: 20%;
    height: 180px;
  }
  
  .product-card:hover {
    transform: scale(1.05);
  }
  
  .product-card img {
    width: 100%;
    height: 60px;
    object-fit: contain;
    margin-bottom: 8px;
  }
  
  .product-card h3 {
    font-size: 14px;
    margin-bottom: 8px;
  }
  
  .product-card .price {
    font-size: 12px;
    color: gray;
    margin-bottom: 8px;
  }
  
  .product-card .discount {
    font-size: 14px;
    color: green;
    font-weight: bold;
    margin-bottom: 8px;
  }
  
  .product-card .availability {
    font-size: 12px;
    color: gray;
    margin-bottom: 8px;
  }
  
  .product-card .add-to-cart-btn {
    background-color: green;
    color: white;
    font-size: 12px;
    padding: 8px;
    border-radius: 8px;
    width: 100%;
    text-align: center;
  }
  