/* Custom styles for react-slick arrows */
.slick-prev, .slick-next {
    width: 30px;
    height: 30px;
    z-index: 1;
  }
  .slick-track{
   width: 400px;
   height: 300px;
   object-fit: cover;
  }
  
  .slick-prev {
    left: -40px; /* Adjust the position as needed */
  }
  
  .slick-next {
    right: -40px; /* Adjust the position as needed */
  }
  
  .slick-prev:before, .slick-next:before {
    font-size: 30px;
    color: black; /* Change the color as needed */
  }
  